<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wireframe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".test.SlidingTest"
            android:label="@string/title_activity_slidingtest"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".test.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".test.Index"
            android:label="@string/title_activity_index"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".test.gridview"
            android:label="@string/title_activity_gridview"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".test.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.KaiguanTest"
            android:label="@string/title_activity_kaiguan_test"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".db.test"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".test.EsptouchDemoActivity"
            android:label="@string/title_activity_esptouch_demo"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name=".test.testHttp"
            android:label="@string/title_activity_test_http" >
        </activity>
        <activity
            android:name=".test.KaiguanKongtiao"
            android:label="@string/title_activity_kaiguan_kongtiao"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
    </application>

</manifest>
